th, td, li{
   color: rgb(150, 150, 150);
}
/* Button */

table.punches {

}
input[type="button"].special,
input[type="submit"].special,
input[type="reset"].special,
.button.special {
    background: rgba(133, 21, 30, 1);
    border-color: rgba(133, 21, 30, 0.5);
    color: #fff !important;
}

input[type="button"].special:hover,
input[type="submit"].special:hover,
input[type="reset"].special:hover,
.button.special:hover {
    background: rgba(133, 21, 30, 1) !important;
    border-color: rgba(133, 21, 30, 0.5) !important;
}

input[type="button"].forgot,
input[type="submit"].forgot,
input[type="reset"].forgot,
.button.forgot {

}

.btn-detail.active.focus,
.btn-detail:hover,
.btn-detail.focus,
.btn-detail:focus,
.btn-detail:hover,
.btn-detail.active:focus,
.btn-detail.active:hover,
.btn-detail:active.focus,
.btn-detail:active:focus,
.btn-detail:active:hover,
.open>.dropdown-toggle.btn-detail.focus,
.open>.dropdown-toggle.btn-detail:focus,
.open>.dropdown-toggle.btn-detail:hover {
    color: #fff;
    background-color: rgba(175, 25, 30, 1);
    border-color: rgba(175, 25, 30, 0.5);
}

.btn-detail{
    color: #fff;
    background-color: rgba(133, 21, 30, 1);
    border-color: rgba(133, 21, 30, 0.5);
}

.btn-sm {
  width: 6em;
  border: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.pwinfo {
    background-color: #d9edf7;
    color: #333;
}

ul.featured-icons li {
   float: none;
}

ul.buttons li {
    display: block;
    padding: 0;
}

ul.buttons li:first-child {
    padding: 0;
}

.wrapper.style2 {
   background-color: rgba(133, 21, 30, 80);
}

.links {
  text-decoration: none;
}

#banner {
    background-color: rgba(133, 21, 30, 1);
    background-image: url(../images/light-bl.svg), url(../images/light-br.svg), url(../images/overlay.png);/*, url(../images/banner.png);*/
}

#banner .inner {
    background: rgba(133, 21, 30, 0);
}

.splist {
  color: #fff;
}

.scrolly {
  border-color: #fff;
  color: #fff;
}

.dropotron > li:hover > a {
  background: rgba(133, 21, 30, 1);
  color: #fff;
}

a, span, body, div, main, table, thead, tbody, tr, td, th, , .catchphrase {
  color: rgba(133, 21, 30, 1);
  text-decoration:  none;
}

a:focus{
  text-decoration:  none;
}

a:hover{
  text-decoration:  none;
  color: rgba(133, 21, 30, 0.6);
}

a:active{
  text-decoration:  none;
}

a:visited{
  text-decoration:  none;
}


/*header img#cologo {
   border: 0px solid #ddd;
   border-radius: 0px;
   padding: 0px;
   width: 1.4em;
   height: 1.4em;
   margin-right: 5px;
}*/

#header {
   background-image: url(../images/ai-logo-header.png);
   background-repeat: no-repeat;
   background-size: 45px 55px;
   background-position-x: 10px;
   background-position-y: 3px;
}

#header h1 {
   padding-left: 45px;
}



input[type="button"].forgot:hover,
input[type="submit"].forgot:hover,
input[type="reset"].forgot:hover,
.button.forgot:hover {

}


@media screen and (max-width: 1680px) {
    #header {
        background-size: 41px 51px;
        background-position-x: 10px;
        background-position-y: 3px;
    }
}
@media screen and (max-width: 1280px) {
    #header {
        background-size: 33px 43px;
        background-position-x: 10px;
        background-position-y: 3px;
    }
}

@media screen and (max-width: 840px) {
    #navPanel .link:first-child {
        background-image: url(../images/ai-logo-header.png);
        background-repeat: no-repeat;
        background-size: 32px 45px;
        background-position-x: 210px;
    }
}
