{% extends 'base.html' %}
{% load static %}
<!-- https://docs.djangoproject.com/en/1.11/topics/auth/default/ -->
<!-- Head -->

{% block head %}
   <meta http-equiv="refresh" content="3;url={% url 'home' %} "> 
   <title>Automation Integrity - Login</title>
{% endblock %}

<!-- Header -->
{% block headerMessage %}
   <li class="current"><a href=" {% url 'home' %} ">Return to Home Page</a></li>
{% endblock %}

{% block headerMenu %}

{% endblock %}

{% block banner %}

{% endblock %}

<!-- Main -->
{% block mainHeader %}
{% endblock %}

{% block contentSec1 %}
<section class="wrapper style4 special container 75%">

      <!-- Content -->
      <div class="content">
         {% if messages %}
         <ul>
             {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
               <h3>
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                  {{ message }}
               </h3>
            </li>
             {% endfor %}
         </ul>
         {% endif %}
         <sup>This page will be redirected to your home page in two seconds, or you can click <a href=" {% url 'home' %} ">here...</a></h6></sup>
      </div>

</section>
{% endblock %}

{% block contentSec2 %}

{% endblock %}

{% block contentSec3 %}

{% endblock %}

{% block contentSec4 %}

{% endblock %}


<!-- CTA -->

{% block cta %}

{% endblock %}

<!-- Footer -->

{% block footer %}

{% endblock %}