{% extends 'base.html' %}
{% load static %}

<!-- Head -->

{% block head %}
      <title>Automation Integrity - Giving you more uptime</title>
{% endblock %}


<!-- Main -->

{% block contentSec1 %}

<!-- One -->
<section class="wrapper style2 container special-alt">
<div class="row 50%">
      <div class="10u 12u(narrower)">

      <h2 class="catchphrase">With a strong and <strong>diverse</strong> skillset, we aim to serve just about any automation needs</h2>
      
      <table>
            <tr>
            <th class="splist"><strong>Programming Languages</strong></th>
            <th class="splist"><strong>Programmable Logic Controllers</strong></th>
            </tr>
            <tr>
            <td><ul>
                  <li class="splist">C#</li>
                  <li class="splist">SQL</li>
                  <li class="splist">Visual Basic</li>
                  <li class="splist">Python</li>
                  <li class="splist">C++</li>
                  </ul>
            </td>
            <td>
                  <ul>
                  <li class="splist">Rockwell Automation</li>
                  <li class="splist">Yaskawa</li>
                  <li class="splist">ABB</li>
                  <li class="splist">Schneider Electric</li>
                  <li class="splist">Siemens</li>
                  <li class="splist">Mitsubishi</li>
                  <li class="splist">Omron</li>
                  <li class="splist">And more...</li>
                  </ul>
            </td>
            </tr>
            <tr>
            <th class="splist"><strong>Robotics</strong></th>
            <th class="splist"><strong>Variable Frequency Drives & Servos</strong></th>
            </tr>
            <tr>
            <td>
                  <ul>
                  <li class="splist">Yaskawa</li>
                  <li class="splist">Integrated Systems Inc</li>
                  </ul>
            </td>
            <td>
                  <ul>
                  <li class="splist">Rockwell Automation</li>
                  <li class="splist">ABB</li>
                  <li class="splist">Schneider Electric</li>
                  <li class="splist">Yaskawa</li>
                  <li class="splist">And more...</li>
                  </ul>
            </td>
            </tr>
            <tr>
            <th class="splist"><strong>Human Machine Interfaces</strong></th>
            <th class="splist"><strong>Machine Vision</strong></th>
            </tr>
            <tr>
            <td>
                  <ul>
                  <li class="splist">Rockwell Automation</li>
                  <li class="splist">Proface</li>
                  <li class="splist">Red Lion</li>
                  <li class="splist">Fuji</li>
                  </ul>
            </td>
            <td>
                  <ul>
                  <li class="splist">Cognex</li>
                  </ul>
            </td>
            </tr>
      </table>




      </div>
      <div class="2u 12u(narrower) important(narrower)">

      <ul class="featured-icons">
            <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
            <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
            <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
            <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
            <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
            <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
      </ul>

      </div>

</div>
<footer>
      <ul class="buttons vertical">
            <li><a href="#sec3" class="button fit scrolly">Find Out More</a></li>
      </ul>
      </footer>
</section>

{% endblock %}


<!-- Two -->
{% block contentSec2 %}

<section id="sec2" class="wrapper style1 container special">
   <div class="row">
      <div class="4u 12u(narrower)">

         <section>
            <span class="icon featured fa-check"></span>
            <header>
               <h3>Integrity</h3>
            </header>
            <p>The condition of being unified, unimpaired, or sound in construction</p>
         </section>

      </div>
      <div class="4u 12u(narrower)">

         <section>
            <span class="icon featured fa-check"></span>
            <header>
               <h3>Quality</h3>
            </header>
            <p>The standard of something as measured against other things of a similar kind; the degree of excellence of something</p>
         </section>

      </div>
      <div class="4u 12u(narrower)">

         <section>
            <span class="icon featured fa-check"></span>
            <header>
               <h3>Speed</h3>
            </header>
            <p>The rapidity of movement or action</p>
         </section>

      </div>
   </div>
</section>
{% endblock %}

{# block contentSec3 #}

<!-- Three -->
<section id="sec3" class="wrapper style3 container special">

   <header class="major">
      <h2>CUSTOMER <strong>TESTIMONIALS</strong></h2>
   </header>

   <div class="row">
      <div class="6u 12u(narrower)">

         <section>
               <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/dennis-mcguire-00547a8/" data-format="inline" data-related="false"></script>
            <p align="left">Adam and I worked together at RT Engineering. Finding competent field service engineers is always a challenge.
               When Adam came to RT he hit the ground running. No matter what the challenge, Adam was up for it. He is highly
               skilled in software implementation, robotics, PLC's and drives. Adam has a knack for using his resources and
               making people around him better. He will be greatly missed at RT Engineering. I would recommend Adam to anyone,
               he would be an asset to any company that hires him. </p>
         </section>

      </div>
      <div class="6u 12u(narrower)">

         <section>
               <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/marlenamiller/" data-format="inline" data-related="false"></script>
            <p align="left">Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
         </section>

      </div>
   </div>
   <div class="row">
      <div class="6u 12u(narrower)">

         <section>
               <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/matt-o-neil-6279865/" data-format="inline" data-related="false"></script>
            <p align="left">Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
         </section>

      </div>
      <div class="6u 12u(narrower)">

         <section>
               <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/garrettsizemore/" data-format="inline" data-related="false"></script>
            <p align="left">Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
         </section>

      </div>-->
   </div>

   <footer class="major">
      <ul class="buttons">
         <li><a href="#cta" class="button">See More</a></li>
      </ul>
   </footer>

</section>

{# endblock #}

{% block contentSec4 %}

<section id="cta">
   <header>
      <h2>Need to get something done?</h2>
      <p>If you're in need of consultation, service, or have any questions at all feel free to send us a message.  We will respond as soon as possible.</p>
   </header>
   <footer>
      <ul class="buttons">
         <li><a href="contact/" class="button special">CONTACT</a></li>
         <!--<li><a href="#" class="button">LOL Wut</a></li>-->
      </ul>
   </footer>
</section>

{% endblock %}


<!-- CTA -->

{% block cta %}

{% endblock %}

<!-- Footer -->

{% block footer %}

{% endblock %}
