{% extends 'base.html' %}
{% load static %}
<!-- https://docs.djangoproject.com/en/1.11/topics/auth/default/ -->
<!-- Head -->

{% block head %}
   <title>Automation Integrity - Registration</title>
{% endblock %}

<!-- Header -->
{% block headerMessage %}
   <li class="current"><a href=" {% url 'main' %} ">Return to Home Page</a></li>
{% endblock %}

{% block headerMenu %}

{% endblock %}

{% block banner %}

{% endblock %}

<!-- Main -->
{% block mainHeader %}
{% endblock %}

{% block contentSec1 %}
<section class="wrapper style4 special container 75%">

      <!-- Content -->
      <div class="content">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row 25%">
                  {% for field in form %}
                  <div class="3u 12u">
                        {{ field.label_tag }}
                  </div>
                        <!-- {% if field.help_text %}
                        <sup>{{ field.help_text }}</sup>
                        {% endif %} -->
                        {% for error in field.errors %}
                              <div class="row">
                                    <div class="alert alert-danger">{{error}}</div>
                              </div>
                        {% endfor %}
                        <div class="9u 12u">
                              {{ field }}
                        </div>
                  {% endfor %}
            </div>
            <div class="row 50%">
                  <div class="12u">
                        <ul class="buttons">
                              <li><input type="submit" class="special" value="Login" /></li>
                              <li><input type="hidden" name="next" value="{{ next }}" /></li>
                        </ul>
                  </div>
            </div>
            </form>
      </div>

</section>
{% endblock %}

{% block contentSec2 %}

{% endblock %}

{% block contentSec3 %}

{% endblock %}

{% block contentSec4 %}

{% endblock %}


<!-- CTA -->

{% block cta %}

{% endblock %}

<!-- Footer -->

{% block footer %}

{% endblock %}