{% extends 'base.html' %} {% load static %}
<!-- https://docs.djangoproject.com/en/1.11/topics/auth/default/ -->
<!-- Head -->

{% block head %}
<title>Automation Integrity - Login</title>
{% endblock %}

<!-- Header -->
{% block headerMessage %}
<li class="current">
    <a href=" {% url 'main' %} ">Return to Home Page</a>
</li>
{% endblock %}
{% block headerMenu %}
{% endblock %}
{% block banner %}
{% endblock %}

<!-- Main -->
{% block mainHeader %}
{% endblock %} 
{% block contentSec1 %}

<section class="wrapper style4 special container 75%">
    <h3>Confirm Password Reset</h3>
    <!-- Content -->
    <div class="content">
        <div class="row 25%">
            {% if validlink %}
            <h3>Please enter your new password twice so we can verify you typed it in correctly.</h3>
            <form method="post">
                {% csrf_token %}
                    <div class="row 25%">
                          {% for field in form %}
                            {% if field.help_text %}
                                <div class="12u"><div class="pwinfo">{{ field.help_text|safe }}</div></div>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="12u">
                                    <div class="alert alert-danger">{{error}}</div>
                            </div>
                            {% endfor %}
                          <div class="3u 12u">
                                {{ field.label_tag }}
                          </div>
                            <div class="9u 12u">
                                    {{ field }}
                            </div>

                          {% endfor %}
                    </div>
                    <div class="row 50%">
                          <div class="12u">
                                <ul class="buttons">
                                      <li><input type="submit" class="special" value="Reset Password" /></li>
                                </ul>
                          </div>
                    </div>
            </form>
            
            {% else %}
            
            <h3>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h3>
            
            {% endif %}
 

{% endblock %}
{% block contentSec2 %}
{% endblock %}
{% block contentSec3 %}
{% endblock %}
{% block contentSec4 %}
{% endblock %}


<!-- CTA -->

{% block cta %} {% endblock %}

<!-- Footer -->

{% block footer %} {% endblock %}


