{% extends 'base.html' %}
{% load static %}
<!-- https://docs.djangoproject.com/en/1.11/topics/auth/default/ -->
<!-- Head -->

{% block head %}
  <meta http-equiv="refresh" content="6;url={% url 'login' %} "> 
  <title>Automation Integrity - Login</title>
{% endblock %}

{% block banner %}

{% endblock %}

<!-- Main -->
{% block mainHeader %}
{% endblock %}

{% block contentSec1 %}
<section class="wrapper style4 special container 75%">

      <!-- Content -->
      <div class="content">
        <p>
          Your password has been set.  You may go ahead and log in now.
        </p>
        <p>
          You may click the login link or this page will be redirected to the login page.
        </p>
      </div>

</section>
{% endblock %}

{% block contentSec2 %}

{% endblock %}

{% block contentSec3 %}

{% endblock %}

{% block contentSec4 %}

{% endblock %}


<!-- CTA -->

{% block cta %}

{% endblock %}

<!-- Footer -->

{% block footer %}

{% endblock %}
